@model Ensayo.Sedes

@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    ViewBag.Title = "nuevaSedes";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Editar sede
        </h1>
    </div>
</div>

<div class="col-md-10">
    <div class="tabla">

        @using (Html.BeginForm("EditarSede", "Administracion", FormMethod.Post, new { @class= "form-horizontal" , @id= "form-registracion" }))
        {
            <input type="hidden" value="@Model.IdSede" name="IdSede"/>   
            <div class="form-group">
                @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-md" })
                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Direccion, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control input-md" })
                    @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PrecioGeneral, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.PrecioGeneral, new { @class = "form-control input-md" })
                    @Html.ValidationMessageFor(m => m.PrecioGeneral, "", new { @class = "text-danger" })
                </div>
            </div><br>

            <div class="form-group">
                <label class="col-md-2 control-label" for=""></label>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-primary" value="Guardar cambios">
                </div>
            </div>
        }

    </div>
</div>

