@model Ensayo.Carteleras

@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    ViewBag.Title = "nuevaCartelera";
}

<div class="contenedor_formulario">
    <div class="titulo_formulario">
        <h5>Nueva cartelera</h5>
    </div>    
    <form role="form" method="post" action="nuevaCartelera" class="form-horizontal">        
        @Html.ValidationSummary(true, " ", new { @class = "text-danger" })
            
            <!--Sedes-->
            <div class="form-group">  
                @Html.LabelFor(m => m.Sedes, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.IdSede, new SelectList(@ViewBag.sedes, "IdSede", "Nombre"), "Selecciones Sede ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IdSede, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Pelicula-->
            <div class="form-group">
                @Html.LabelFor(m => m.Peliculas, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.IdPelicula, new SelectList(@ViewBag.peliculas, "IdPelicula", "Nombre"), "Selecciones Pelicula ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IdPelicula, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Hora de inicio-->
            <div class="form-group">
                @Html.LabelFor(m => m.HoraInicio, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.HoraInicio, new { @class = "form-control", placeholder = "Ingrese hora de incio" })
                    @Html.ValidationMessageFor(m => m.HoraInicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Fecha de Inicio-->
            <div class="form-group">
                @Html.LabelFor(m => m.FechaInicio, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.FechaInicio, new { @class = "form-control" , placeholder="dd-mm-aaaa" })
                    @Html.ValidationMessageFor(m => m.FechaInicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Fecha de fin-->
            <div class="form-group">
                @Html.LabelFor(m => m.FechaFin, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.FechaFin, new { @class = "form-control", placeholder = "dd-mm-aaaa" })
                    @Html.ValidationMessageFor(m => m.FechaFin, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Numero de sala-->
            <div class="form-group">
                @Html.LabelFor(m => m.NumeroSala, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.NumeroSala, new { @class = "form-control", placeholder = "Ingrese numero sala" })
                    @Html.ValidationMessageFor(m => m.NumeroSala, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Version de pelicula-->
            <div class="form-group">
                @Html.LabelFor(m => m.Versiones, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.IdVersion, new SelectList(@ViewBag.Versiones, "IdVersion", "Nombre"), "Selecciones version de pelicula", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IdVersion, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Dias de la semana que se proyectara la cartelera-->
            <h1>Días de proyección</h1>
            <div id="dias_proyeccion">
                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Lunes)
                            @Html.LabelFor(m => m.Lunes)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Martes)
                            @Html.LabelFor(m => m.Martes)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Miercoles)
                            @Html.LabelFor(m => m.Miercoles)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Jueves)
                            @Html.LabelFor(m => m.Jueves)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Viernes)
                            @Html.LabelFor(m => m.Viernes)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Sabado)
                            @Html.LabelFor(m => m.Sabado)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.Domingo)
                            @Html.LabelFor(m => m.Domingo)
                        </div>
                    </div>
                </div>
            </div>
			<input type="submit" class="btn btn-lg btn-primary" value="Crear">
        </form>
</div>

