@model Ensayo.Peliculas

@{
    ViewBag.Title = "NuevaPelicula";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Nueva Pelicula
        </h1>
    </div>
</div>

<div class="col-md-10">
    <div class="tabla">

        @using (Html.BeginForm("NuevaPelicula", "Administracion", FormMethod.Post, new{enctype = "multipart/form-data"}))
		{
            @Html.ValidationSummary(true, " ", new { @class = "text-danger" })

            
            
			// El codigo es autoincremental
			<div class="for-group">
			@Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })			
			@Html.TextBoxFor(m => m.Nombre, null, new{@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
			</div>		
			<div class="for-group">
			@Html.LabelFor(m => m.Descripcion, new{@for = "Descripcion"})
			@Html.TextAreaFor(m => m.Descripcion, new{@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
			</div>		
			@Html.LabelFor(m => m.IdCalificacion, new{@for = "IdCalificacion"})
            @Html.DropDownListFor(m => m.IdCalificacion, new SelectList(ViewBag.Clasificaciones, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IdCalificacion, "", new { @class = "text-danger" })
            					
			@Html.LabelFor(m => m.IdGenero, new{@for = "IdGenero"})
            @Html.DropDownListFor(m => m.IdGenero, new SelectList(ViewBag.Generos, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IdGenero, "", new { @class = "text-danger" })
					
			@Html.LabelFor(m => m.Duracion, new{@for = "Duracion"})
			@Html.TextBoxFor(m => m.Duracion, null, new{@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Duracion, "", new { @class = "text-danger" })
					
			// La fecha de cargar se almacena a nivel de aplicación.
					
			<input type="file" name="portada_pelicula"/>
			<input type="submit" value="Crear" />
		}				

    </div>
</div>