@model Ensayo.Sedes

@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    ViewBag.Title = "nuevaSedes";
}

<div class="contenedor_formulario">
    <div class="titulo_formulario">
        <h5>Nueva sedes</h5>
    </div>
	@using (Html.BeginForm("NuevaSedes", "Administracion", FormMethod.Post, new { @class= "form-horizontal" , @id= "form-registracion" }))
	{
		<div class="form-group">
			@Html.LabelFor(m => m.Nombre, new { @class = "col-md-3 control-label" })
			<div class="col-md-7">
				@Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-md" })
				@Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Direccion, new { @class = "col-md-3 control-label" })
			<div class="col-md-7">
				@Html.TextBoxFor(m => m.Direccion, new { @class = "form-control input-md" })
				@Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.PrecioGeneral, new { @class = "col-md-3 control-label" })
			<div class="col-md-7">
				@Html.TextBoxFor(m => m.PrecioGeneral, new { @class = "form-control input-md" })
				@Html.ValidationMessageFor(m => m.PrecioGeneral, "", new { @class = "text-danger" })
			</div>
		</div>
			
		<input type="submit" class="btn btn-lg btn-primary" value="Crear">
		
	}