@model Ensayo.Reservas

@{
    ViewBag.Title = "Reserva";
}



<div class="container">
   
    <!--Formulario de reservas-->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="titulo hidden-xs">
            <div id="reseña">

                <h3>Reserva Online</h3>
                <p>Complete los siguientes formulario para completar su reserva de pelicula</p>
            </div>
        </div>
        <div id="formReserva">


            <form class="form-horizontal" method="post" action="Reserva">

                <!--No cambiar los Id de los input, se los utiliza con ajax-->
                <!--Campo oculto input pelicula-->
                @Html.TextBoxFor(m => m.IdPelicula, new { @class = "hidden" });

                <div class="form-group">
                    @Html.LabelFor(m => m.IdVersion, new { @class = "col-md-2 control-label" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.IdVersion, new SelectList(@ViewBag.Versiones, "IdVersion", "Nombre"), "Selecciones Version ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IdVersion, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.IdSede, new { @class = "col-md-2 control-label" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.IdSede, new SelectList(""), "Selecciones Sede ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IdSede, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--Select Dia y Hora-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="genero">Dia:</label>
                    <div class="col-xs-3">
                        <select class="form-control" id="DiasReservas" name="DiasReservas">
                            <option value="" disabled selected>Seleccione Opción </option>
                        </select>
                    </div>


                    <label class="col-md-1 control-label" for="genero">Hora:</label>
                    <div class="col-xs-3">
                        <select class="form-control" id="HorasReservas" name="HorasReservas">
                            <option value="" disabled selected>Seleccione Opcion </option>


                        </select>
                    </div>
                </div>

                


                <input type="submit" value="RESERVAR" id="btn_reservar" />
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <script>

        
        $(document).ready(function () {

            //Obtiene las sedes segun la cartelera selccionada
            $("IdVersion").each(function () {
                $(this).val("");
            });

            $("#IdVersion").change(function () {

                $.get("/Peliculas/GetSedesList", { IdVersion: $("#IdVersion").val(), IdPelicula: $("#IdPelicula").val() }, function (data) {

                    $("#IdSede").empty();
                    var bandera = 1;
                    $.each(data, function (index, row) {
                        if (bandera == 1) {
                            $("#IdSede").append("<option value='" + 0 + "'>" + "Seleccione Opción " + "</option>")
                            bandera = 2;
                        }
                        $("#IdSede").append("<option value='" + row.IdSede + "'>" + row.Nombre + "</option>")

                    });
                });
            });

            //Obtiene los dias disponibles de la cartelera selccionada 
            $("#IdSede").change(function () {

                $.get("/Peliculas/GetDIasList", { IdVersion: $("#IdVersion").val(), IdPelicula: $("#IdPelicula").val(), IdSede: $("#IdSede").val() }, function (data) {
                    var bandera = 1;
                    $("#DiasReservas").empty();
                    $.each(data, function (index, row) {
                        if (bandera == 1) {
                            $("#DiasReservas").append("<option value='" + 0 + "'>" + "Seleccione Opción " + "</option>")
                            bandera = 2;
                        }
                        $("#DiasReservas").append("<option value='" + row.value + "'>" + row.dias + "</option>")
                    });

                });
            });//Cierre de funcion



            //Obtiene las horas disponibles de la cartelera seleccionada

            $("#DiasReservas").change(function () {
               
                $.get("/Peliculas/GetHorasList", { IdVersion: $("#IdVersion").val(), IdPelicula: $("#IdPelicula").val(), IdSede: $("#IdSede").val() }, function (data) {
                    var bandera = 1;
                    $("#HorasReservas").empty();
                    $.each(data, function (index, row) {
                        if (bandera == 1) {
                            $("#HorasReservas").append("<option value='" + 0 + "'>" + "Seleccione Horas " + "</option>")
                            bandera = 2;
                        }
                        $("#HorasReservas").append("<option value='" + row.IdHora + "'>" + row.Hora + "</option>")
                    });
                });

            });//Ciere de funcion





        });
    </script>
}


